@font-face { font-family: Arcade; src: url('src/fonts/emulogic.ttf'); }

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

canvas {
    position: absolute;
}

#container{
    background-color: #000000;
    height: 100%;
    position: absolute;
    top: 0px;
}

#prompt{
    color: #ffffff;
    margin: auto;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    font-size: 1.5em;
    width: 500px;
    height: 300px;
    font-family: Arcade;
    animation: pulse 2s ease infinite alternate;
    position: absolute;
    opacity: 0.50;
    text-align: center;
}

.answer{
    color: #ffffff;
    font-size: 0.9em;
    font-family: Arcade;
    animation: pulse 2s ease infinite alternate;
    position: absolute;
    opacity: 0.50;
    text-align: center;
    width: 200px;
}

#answer_up {
    top: 125px;
    left: calc(50% - 100px);
}

#answer_down {
    bottom: 85px;
    left: calc(50% - 100px);
}

#answer_left {
    top: calc(50% - 25px);
    left: calc(25% - 75px);
}

#answer_right {
    top: calc(50% - 25px);
    left: calc(75% - 100px);
}
