@font-face { font-family: Arcade; src: url('src/fonts/emulogic.ttf'); }
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
}

#container{
    background-color: #000000;
    height: 100%;
}

#prompt{
    z-index: 1;
    color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 30px;
    width: 500px;
    height: 300px;
    font-family: Arcade;

}

