body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

canvas {
    position: absolute;
}

#container{
    background-color: #000000;
    height: 100%;
    position: absolute;
    top: 0px;
}

#prompt{
    color: #ffffff;
    margin: auto;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    font-size: 1.5em;
    width: 500px;
    height: 300px;
    font-family: Arcade;
    position: absolute;
    opacity: 0.50;
    text-align: center;
}
